{{#> main page_title="Create Project" }}
<h1 class="center">Create project</h1>
<form method="post" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="CSRFToken" value="{{@root.csrf_token}}">

    <label for="title">Title:</label>
    <input {{#if title_error}} class="error" {{/if}} id="title" name="title" type="text" {{#if title}} value="{{title}}"
        {{/if}} />
    {{#if title_error}}
    <div class="error">{{title_error}}</div>
    {{/if}}

    <label for="description">Description:</label>
    <input {{#if description_error}} class="error" {{/if}} id="description" name="description" type="text" {{#if
        description}} value="{{description}}" {{/if}} />
    {{#if description_error}}
    <div class="error">{{description_error}}</div>
    {{/if}}

    <button type="submit">Create</button>

    <a href="https://h3.selfmade4u.de:8443/list">Show all projects</a>
</form>
{{/main}}